body,html, img,p{
    padding: 0px;
    margin: 0;
    font-family:  'Arial Narrow Bold', sans-serif;
}

body{
    color: white;
}

.welcome-body{
    background-color: #1e1e1e;
    padding: 100px 200px;
    color: #999999;
}

.cover{
    position: relative;
}

.cover .wrap{
    width: 100%;
    height: 700px;
    filter: brightness(70%);
    overflow: hidden;
  
}

.mess{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.mess .first{
    font-size: 40px;
}

.mess .second{
    font-size: 18px;
    padding: 0px 300px;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family:  'Courier New', Courier, monospace ;
    font-size: 80px;
    color: antiquewhite;
}

.title .con{
    border: 2px solid antiquewhite  ;
    padding: 10px 10px;
    text-align: center;
}

.port{
    font-size: 50px;
}

.moto {
    color: antiquewhite;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid{
    display: flex !important;
    background-color: #1e1e1e;
    padding: 40px 200px;
    height: 800px;
    justify-content: end !important;
}

.grid .firstPic img{
    width: 400px; height: 700px; object-fit: cover;
}

.card{
    background-color: ;
}

.proj{
    color: #999999;
    display: flex !important;
    background-color: #111111;
    padding: 100px 200px;
    height: 800px;
    justify-content: end !important;
}

